body {
    min-width: fit-content;
}

.user-select-none {
    /*https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

.error {
    color: red
}

.success {
    color: green
}

button:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    height: 40px;
    width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
}